* {
  padding: 10px;
}

body {
  background-color: coral;
}

.contenedor {
  background-color: whitesmoke;
}

/* agregamos color al texto del parrafo */

.parrafocolor {
  color: yellowgreen;
}

/* Alineamos el parrafo */

.parrafoderecha {
  text-align: right;
}

.parrafocentro {
  text-align: center;
}

.parrafoizquierda {
  text-align: left;
}

.parrafojustificado {
  text-align: justify;
}

.parrafosuperior {
  vertical-align: top;
}

.parrafomedio {
  vertical-align: middle;
}

.parrafoinferior {
  vertical-align: bottom;
}

/* agragamos decoraciones al texto */
.parrafosobrelínea {
  text-decoration: overline;
}
.parrafosubrayado {
  text-decoration: underline;
}
.parrafotachado {
  text-decoration: line-through;
}

/* agragamo stransformaciones al texto del parrafo */
.parrafomayuscula {
  text-transform: uppercase;
}
.parrafominuscula {
  text-transform: lowercase;
}
.parrafonombrepropio {
  text-transform: capitalize;
}

/* agramos espacio para los textos del parrafo */
.parrafosangria {
  text-indent: 80px;
}

.parrafoespacio {
  letter-spacing: 10px;
}

.parrafoespacioletracomprimido {
  letter-spacing: -2px;
}

.parrafoespaciolinea {
  line-height: 2px;
}

.parrafoespaciolineaamplio {
  line-height: 7px;
}

.parrafoespacioletra {
  word-spacing: 15px;
}

.parrafoletracomprimido {
  word-spacing: -2px;
}

/* agragamos sombras al texto del parrafo */
.parrrafosombra {
  text-shadow: 2px 3px orange;
}

.parrafosombradifuminado {
  text-shadow: 2px 3px 5px red;
}
